@charset "UTF-8";

body {
    background-color: rgb(119, 179, 179);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h1 {
    color: blueviolet;
    background-color: rgb(202, 171, 231);
}
h2 {
    color: brown;
}
p {
    text-align: justify;
}